body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.form-container{
    background-color: bisque;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 5px 20px rgba(207, 66, 31, 0.4);
    border-radius: 10px;
    max-height: 90vh;
    overflow-y: auto;
}

h2{
    text-align: center;
    color: rgba(0,0,0,0.8);
    font-weight: bold;
}

label{
    display: block;
    margin-bottom: 5px;
    color: rgba(0,0,0,0.7);
    font-weight: bold;
}
input[type="hobby"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea{
    width: 90%;
    padding: 10px;
    margin: 5px  15px;
    border: 1px solid rgba(105, 24, 4, 0.4);
    border-radius: 10px;
    font-size: 12px;
}

button{
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(16, 102, 5);
    color: #fff;
    cursor: pointer;
}

button:hover{
    background-color: rgba(16, 102, 5, 0.7);
}
